.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-img img {
    width: 500px;
    height: 500px;
}

.home-text h2 {
    font-size: 60px;
}

.home-text h3 {
    font-size: 28px;
}

.home-text h4 {
    font-size: 60px;
    color: orange;
}

.home-text p {
    font-size: 26px;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}