.quiz {
    /* border: 2px solid gray; */
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
    color: #F9F9F9;
    background-color: #222831;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.options button {
    font-size: 20px;
    padding: 10px;
    color: #F9F9F9;
    background-color: #E64848;
    border-radius: 10px;
    cursor: pointer;
}

.eye-btn {
    color: #38E54D;
    font-size: 24px;
    cursor: pointer;
    background-color: #222831;
    border: none;
}