.blog-header {
    font-size: 60px;
    font-weight: bold;
}

.blog-ques {
    border: 2px solid tomato;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

.blog-ques h3 {
    font-size: 28px;
    font-weight: bold;
}